/* main */

.main {
  display: grid;
  grid-template-columns: 1fr 5fr 3fr;
  grid-template-rows: 3fr 3fr;
  align-content: center;
  justify-content: start;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.containers {
  width: 400px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
}

/* title */

h2 {
  text-indent: 5px;
  font-weight: light;
  padding: 5px;
}
p {
  height: 100px;
  margin-bottom: 40px;
}
.title-container {
  display: flex;
  margin-bottom: 100px;
}
.title {
  width: 220px;
  color: #fff;
  background-color: #363c5f;
}
.title-head {
  background-color: #6ebe45;
  margin-right: 5px;
}

/* button */

.button {
  width: 285px;
  height: 56px;
  font-size: 19px;
  border-radius: 40px;
  border: 2px solid #0692bc;
  color: #0c5576;
  overflow: hidden;
  background-color: #fff;
  background: radial-gradient(circle at left, #0692bc 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.button:focus span {
  display: none;
}
.button:focus:before {
  content: 'Hover';
  color: #fff;
}
.button:focus {
  background-position: left bottom;
  background-size: 200% 100%;
  transition: 0.5s ease-out;
}

/* search box */
.wrapper {
  display: grid;
  align-items: center;
}
.search-input {
  position: absolute;
  width: 167px;
  height: 41px;
  background-color: rgba(255, 255, 255, 0);
  background: url('./assets/search.svg') no-repeat right 15px center;
  border-radius: 40px;
  border: 2px solid #0692bc;
  box-shadow: none;
  text-indent: 15px;
  text-transform: none;
  font-size: 22px;
  color: #363c5f;
}

.search-input:focus {
  outline: none;
  transition: ease-out 0.6s;
  animation-name: draw-border;
  animation-duration: 2s;
  animation-timing-function: ease-out 1s;
  animation-fill-mode: forwards;
}
@keyframes draw-border {
  0% {
    border-top: 6px solid #0692bc;
    width: 360px;
  }
  25% {
    border-top: 6px solid #0692bc;
    border-right: 6px solid #0692bc;
    width: 360px;
  }
  75% {
    border-top: 6px solid #0692bc;
    border-right: 6px solid #0692bc;
    border-bottom: 6px solid #0692bc;
    width: 360px;
  }
  100% {
    border-top: 6px solid #0692bc;
    border-right: 6px solid #0692bc;
    border-bottom: 6px solid #0692bc;
    border-left: 6px solid #0692bc;
    width: 360px;
  }
}

/* login form */

.login-user-input {
  position: absolute;
  top: 200px;
  width: 283px;
  height: 37px;
  background-color: #fff;
  background: url('./assets/login-person.svg') no-repeat left 20px center;
  border-radius: 40px;
  border: 2px solid #0692bc;
  box-shadow: none;
  text-indent: 40px;
  text-transform: none;
  font-size: 22px;
  color: #363c5f;
  z-index: 1;
}

.login-user-input:focus {
  outline: none;
  transition: ease-out 0.6s;
  animation-name: form-animation;
  animation-duration: 2s;
  animation-timing-function: ease-out 1s;
  animation-fill-mode: forwards;
}

.login-password-input {
  position: absolute;
  width: 283px;
  height: 37px;
  top: 280px;
  background-color: #fff;
  background: url('./assets/login-lock.svg') no-repeat left 14px center;
  border-radius: 40px;
  border: 2px solid #0692bc;
  box-shadow: none;
  text-indent: 40px;
  text-transform: none;
  font-size: 22px;
  color: #363c5f;
  z-index: 1;
}

.login-password-input:focus {
  outline: none;
  transition: ease-out 0.6s;
  animation-name: form-animation;
  animation-duration: 2s;
  animation-timing-function: ease-out 1s;
  animation-fill-mode: forwards;
}

@keyframes form-animation {
  0% {
    border-top: 6px solid #0692bc;
  }
  25% {
    border-top: 6px solid #0692bc;
    border-right: 6px solid #0692bc;
  }
  75% {
    border-top: 6px solid #0692bc;
    border-right: 6px solid #0692bc;
    border-bottom: 6px solid #0692bc;
    background-color: #f4f0f0;
  }
  100% {
    border-top: 6px solid #0692bc;
    border-right: 6px solid #0692bc;
    border-bottom: 6px solid #0692bc;
    border-left: 6px solid #0692bc;
    background-color: #f4f0f0;
  }
}

/* steps */

.steps {
  position: absolute;
  top: 480px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 800px;
  height: 100px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 33px;
  font-size: 18px;
  border-radius: 40px;
  color: #fff;
  background-color: #0692bc;
  cursor: pointer;
}

.step:hover {
  height: 100px;
  background-color: #6ebe45;
  border-radius: 40px;
  transition: ease-out 0.7s;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50% 50% 50% 0;
  text-transform: rotate(45deg);
  transform: rotate(-45deg);
  left: 2px;
}
.step:hover h5 {
  transform: rotate(45deg);
}
.step-line {
  position: absolute;
  top: 610px;
  left: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 678px;
  height: 5px;
  background-color: #b9b9b9;
  border-radius: 10px;
}

.step-point {
  width: 6px;
  height: 6px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

/* social media icon */

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 784px;
  height: 80px;
}

.instagram {
  position: absolute;
  top: 560px;
  left: 920px;
  width: 60px;
  height: 60px;
  background: url('./assets/social/instagram.svg') no-repeat center;
  cursor: pointer;
}
.instagram:hover {
  background: url('./assets/social/instagram-hover.svg') no-repeat center;
}
.facebook {
  position: absolute;
  top: 560px;
  left: 1000px;
  width: 60px;
  height: 60px;
  background: url('./assets/social/facebook.svg') no-repeat center;
  cursor: pointer;
}
.facebook:hover {
  background: url('./assets/social/facebook-hover.svg') no-repeat center;
}
.twitter {
  position: absolute;
  top: 560px;
  left: 1080px;
  width: 60px;
  height: 60px;
  background: url('./assets/social/twitter.svg') no-repeat center;
  cursor: pointer;
}
.twitter:hover {
  background: url('./assets/social/twitter-hover.svg') no-repeat center;
}
.pinterest {
  position: absolute;
  top: 560px;
  left: 1160px;
  width: 60px;
  height: 60px;
  background: url('./assets/social/pinterest.svg') no-repeat center;
  cursor: pointer;
}
.pinterest:hover {
  background: url('./assets/social/pinterest-hover.svg') no-repeat center;
}
.tiktok {
  position: absolute;
  top: 560px;
  left: 1240px;
  width: 60px;
  height: 60px;
  background: url('./assets/social/tiktok.svg') no-repeat center;
  cursor: pointer;
}
.tiktok:hover {
  height: 65px;
  width: 65px;
  background: url('./assets/social/tiktok-hover.svg') no-repeat center;
}
.whatsapp {
  position: absolute;
  top: 560px;
  left: 1320px;
  width: 60px;
  height: 60px;
  background: url('./assets/social/whatsapp.svg') no-repeat center;
  cursor: pointer;
}
.whatsapp:hover {
  background: url('./assets/social/whatsapp-hover.svg') no-repeat center;
}
.youtube {
  position: absolute;
  top: 560px;
  left: 1400px;
  width: 60px;
  height: 60px;
  background: url('./assets/social/youtube.svg') no-repeat center;
  cursor: pointer;
}
.youtube:hover {
  background: url('./assets/social/youtube-hover.svg') no-repeat center;
}

/*  checkbox  */

.checkbox-square {
  position: absolute;
  top: 900px;
  left: 150px;
  appearance: none;
  height: 40px;
  width: 40px;
  border: 3px solid #265473;
  border-radius: 5px;
  transform: rotate(45deg);
}

.checkbox-square:focus {
  background-color: #265473;
  background: url('./assets/checked.svg') no-repeat center;
  transition: ease-out 0.5s;
  transform: rotate(0deg);
}

.checkbox-circle {
  position: absolute;
  top: 900px;
  left: 80px;
  appearance: none;
  height: 40px;
  width: 40px;
  border: 3px solid #265473;
  border-radius: 100%;
}

.checkbox-circle:focus {
  border: 12px solid #265473;
  transition: ease-out 0.3s;
}

/*  calendar  */
